In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## DATA PREPARING

In [6]:
data_yelp = pd.read_csv('/Users/poojakameswariappalla/Downloads/yelp_labelled.txt',sep = '\t', header = None)

In [7]:
data_yelp.head()

                                                   0  1
0                           Wow... Loved this place.  1
1                                 Crust is not good.  0
2          Not tasty and the texture was just nasty.  0
3  Stopped by during the late May bank holiday of...  1
4  The selection on the menu was great and so wer...  1

In [9]:
column_name = ['Review','Sentiment']
data_yelp.columns = column_name

In [10]:
data_yelp.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [11]:
data_yelp.shape

(1000, 2)

In [12]:
data_amz = pd.read_csv('/Users/poojakameswariappalla/Downloads/amazon_cells_labelled.txt',sep = '\t', header = None)

In [13]:
data_amz.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [14]:
data_amz.columns = column_name

In [15]:
data_amz.head()

                                              Review  Sentiment
0  So there is no way for me to plug it in here i...          0
1                        Good case, Excellent value.          1
2                             Great for the jawbone.          1
3  Tied to charger for conversations lasting more...          0
4                                  The mic is great.          1

In [17]:
data_amz.shape

(1000, 2)

In [18]:
data_imdb = pd.read_csv('/Users/poojakameswariappalla/Downloads/imdb_labelled.txt',sep = '\t', header = None)

In [19]:
data_imdb.shape

(748, 2)

In [20]:
data_imdb.head()

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [21]:
data_imdb.columns = column_name

In [22]:
data_imdb

                                                Review  Sentiment
0    A very, very, very slow-moving, aimless movie ...          0
1    Not sure who was more lost - the flat characte...          0
2    Attempting artiness with black & white and cle...          0
3         Very little music or anything to speak of.            0
4    The best scene in the movie was when Gerardo i...          1
..                                                 ...        ...
743  I just got bored watching Jessice Lange take h...          0
744  Unfortunately, any virtue in this film's produ...          0
745                   In a word, it is embarrassing.            0
746                               Exceptionally bad!            0
747  All in all its an insult to one's intelligence...          0

[748 rows x 2 columns]

In [26]:
data = pd.concat([data_yelp,data_amz,data_imdb],ignore_index = True)

In [27]:
data.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [28]:
data.shape

(2748, 2)

In [29]:
data['Sentiment'].value_counts()

Sentiment
1    1386
0    1362
Name: count, dtype: int64

In [30]:
data.isnull().sum()

Review       0
Sentiment    0
dtype: int64

In [31]:
x = data['Review']
y = data['Sentiment']

## DATA CLEANING

In [48]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [35]:
import string
punct = string.punctuation

In [57]:
punct = list(punct)

In [58]:
punct

['!',
 '"',
 '#',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '/',
 ':',
 ';',
 '<',
 '=',
 '>',
 '?',
 '@',
 '[',
 '\\',
 ']',
 '^',
 '_',
 '`',
 '{',
 '|',
 '}',
 '~']

In [37]:
from spacy.lang.en.stop_words import STOP_WORDS

In [38]:
stopwords = list(STOP_WORDS)

In [39]:
stopwords

['an',
 'else',
 'throughout',
 'should',
 'doing',
 'call',
 'most',
 'even',
 'moreover',
 'without',
 'regarding',
 'thence',
 '’re',
 'there',
 'am',
 'whom',
 'nowhere',
 'are',
 'everyone',
 'using',
 'in',
 'such',
 'anyway',
 'these',
 'n’t',
 'had',
 'yet',
 'ever',
 'whereupon',
 'less',
 'used',
 'now',
 'toward',
 'me',
 'the',
 'became',
 'upon',
 'among',
 '‘ll',
 'noone',
 'himself',
 'anything',
 'latterly',
 'twenty',
 'your',
 're',
 'becomes',
 'under',
 'over',
 'his',
 'due',
 'nine',
 'amount',
 'who',
 'three',
 'why',
 'full',
 'him',
 'as',
 'we',
 'between',
 'any',
 'seems',
 'whereby',
 'about',
 'somewhere',
 'whether',
 'front',
 'how',
 'never',
 'bottom',
 'has',
 'one',
 'did',
 'may',
 'together',
 'is',
 'own',
 'same',
 'quite',
 'otherwise',
 'than',
 "'s",
 'would',
 'yourself',
 'none',
 'ourselves',
 'via',
 'whenever',
 'off',
 'within',
 'and',
 'least',
 'except',
 'our',
 'make',
 'since',
 'must',
 'only',
 'again',
 'per',
 'not',
 'at',
 'whole',
 'whose',
 'thereafter',
 'see',
 'my',
 'seeming',
 'ca',
 'go',
 'perhaps',
 'or',
 'yourselves',
 'have',
 'she',
 'former',
 'across',
 'its',
 'what',
 'really',
 'latter',
 'hereafter',
 'no',
 'done',
 'first',
 'beforehand',
 'he',
 'could',
 'might',
 'beyond',
 'name',
 'whatever',
 'those',
 'but',
 'through',
 'while',
 'everywhere',
 'alone',
 'been',
 'hereby',
 'enough',
 'themselves',
 'them',
 '‘d',
 'then',
 'during',
 'four',
 'all',
 'another',
 'very',
 'made',
 'back',
 'where',
 'for',
 'so',
 'down',
 'others',
 'eight',
 'be',
 'already',
 'five',
 'say',
 'either',
 'too',
 'more',
 'us',
 'up',
 'cannot',
 "'m",
 'put',
 'anyhow',
 'below',
 'you',
 'being',
 'yours',
 'anywhere',
 'eleven',
 'wherever',
 'though',
 'whither',
 'formerly',
 'many',
 'mine',
 'much',
 'side',
 'also',
 'hence',
 'nor',
 'neither',
 'beside',
 'which',
 'unless',
 'several',
 'sometimes',
 'onto',
 '‘s',
 'something',
 'somehow',
 'myself',
 'herself',
 'six',
 'if',
 "n't",
 'ours',
 'other',
 'can',
 'therefore',
 'almost',
 'thru',
 'always',
 'each',
 'namely',
 'do',
 '’d',
 'out',
 '‘re',
 'behind',
 "'ll",
 'ten',
 'to',
 '’ve',
 'was',
 'few',
 'seem',
 'itself',
 'show',
 "'re",
 'next',
 'besides',
 'hereupon',
 'thereby',
 'various',
 'with',
 'herein',
 'meanwhile',
 '’s',
 'towards',
 'until',
 'further',
 'although',
 'a',
 'once',
 "'d",
 'against',
 "'ve",
 'mostly',
 '‘ve',
 'well',
 'whence',
 'nobody',
 'top',
 'into',
 '’m',
 'twelve',
 'nothing',
 'n‘t',
 'before',
 'they',
 'this',
 'forty',
 'keep',
 'on',
 '’ll',
 'still',
 'when',
 'fifty',
 'from',
 'sixty',
 'their',
 'her',
 'every',
 'often',
 'wherein',
 'two',
 'both',
 'seemed',
 'move',
 'indeed',
 'anyone',
 'last',
 'thereupon',
 'by',
 'give',
 'nevertheless',
 'get',
 'along',
 'serious',
 'hers',
 'whereafter',
 'however',
 'third',
 'afterwards',
 '‘m',
 'of',
 'some',
 'please',
 'i',
 'take',
 'rather',
 'that',
 'will',
 'fifteen',
 'therein',
 'hundred',
 'amongst',
 'whereas',
 'after',
 'part',
 'around',
 'elsewhere',
 'it',
 'does',
 'empty',
 'thus',
 'above',
 'because',
 'become',
 'someone',
 'becoming',
 'whoever',
 'just',
 'everything',
 'sometime',
 'here',
 'were']

In [66]:
import spacy
import string

# Assuming you have loaded spaCy's English model
nlp = spacy.load("en_core_web_sm")

# Define spaCy sets or lists of stop words and punctuation
stopwords = set(nlp.Defaults.stop_words)
punct = list(string.punctuation)

def clean_text(sentence):
    # Tokenize the sentence using spaCy
    tokens = [token.lemma_.lower() for token in nlp(sentence)]

    cleaned_tokens = []

    for token in tokens:
        # Check if the token is not in stopwords and not in punct
        if token not in stopwords and token not in punct:
            cleaned_tokens.append(token)

    return cleaned_tokens

# Example usage
result = clean_text("Hello, All, its a beautiful day outside as it's raining")
print(result)

['hello', 'beautiful', 'day', 'outside', 'rain']

### FEATURE VECTORIZATION

In [73]:
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline

In [74]:
from sklearn.model_selection import train_test_split

In [76]:
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size = 0.25, random_state = 0)

In [77]:
X_train.shape, X_test.shape

((2061,), (687,))

In [78]:
y_train.shape, y_test.shape

((2061,), (687,))

In [79]:
classifier = Pipeline([('tfidf:',TfidfVectorizer()),('SVC',LinearSVC(C = 1.0,dual = 'auto'))])

In [81]:
classifier.fit(X_train, y_train)

Pipeline(steps=[('tfidf:', TfidfVectorizer()), ('SVC', LinearSVC(dual='auto'))])

In [82]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

In [83]:
y_pred = classifier.predict(X_test)

In [84]:
accuracy_score(y_test, y_pred)

0.8209606986899564

In [85]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.82      0.82      0.82       344
           1       0.82      0.83      0.82       343

    accuracy                           0.82       687
   macro avg       0.82      0.82      0.82       687
weighted avg       0.82      0.82      0.82       687

In [86]:
classifier.predict(['Wow, it has great content'])

array([1])

In [93]:
classifier.predict(['Wow, it has very boring content and bad play'])

array([0])